page-maps {
      .map-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      #map{
        position: relative;
        width: auto;
        height: inherit;
      }
      .marker-pin {
        background-image: url(./../../assets/icon/v2/home_ico.png);
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        border: 2px solid white;
        cursor: pointer;
      }
      .marker-bro {
        background-image: url(./../../assets/icon/v2/user_ico.png);
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        border: 2px solid white;
        cursor: pointer;
      }
      .broker-position {
        position: fixed;
        top: 70px;
        width: 17vw;
        min-width: 17vw;
        right: 0;
        height: 18vw;
        background-color: color($colors, bege);
        z-index: 100000 !important;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        box-shadow: inset 0 0 0, 0 0 1em color($colors, chumbo);
      }
      .show-key {
        width: 95% !important;
      }
      .hide-flow {
        display: none !important;
      }
      .key-ico {
        position: relative;
        top: 3vw;
        left: 3vw;
        background-image: url(./../../assets/icon/v2/key_ico.png);
        background-size: cover;
        width: 12vw;
        height: 12vw;
        border-radius: 6vw;
      }
      .flow-visit {
        position: absolute;
        top: 25px;
        width: 90%;
        height: 50px;
        right: -30px;
      }
      .item-flow {
        position: relative;
        float: left;
        top: 0;
        left: -10px;
        width: 22.5%;
        //min-width: 25%;
        height: 50px;
        //margin-right: 2px;
      }
      .line-flow {
        position: absolute;
        top: -0.5vw;
        left: 12.7vw;
        background-color: green;
        height: 1px;
        width: calc(100% - 0.5vw) !important;
        z-index: inherit;
      }
      .line-flow-c {
        position: absolute;
        top: -0.5vw;
        left: 12.7vw;
        background-color: gray;
        height: 1px;
        width: calc(100% - 0.5vw) !important;
      }
      .ico-broker {
        position: absolute;
        top: -5.5vh;
        left: 9.5vw;
        width: 6vw;
        height: 6vw;
        background-image: url(./../../assets/imgs/mansao.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3vw;
      }
      .ico-visit {
        position: absolute;
        top: -5.5vh;
        left: 9.5vw;
        width: 6vw;
        height: 6vw;
        background-image: url(./../../assets/icon/v2/ico_check_greem.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3vw;
      }
      .ico-pin {
        position: absolute;
        top: -6vh;
        left: 8vw;
        width: 9vw;
        height: 9vw;
        background-image: url(./../../assets/icon/v2/pin-over.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
      .lbl_person {
        position: absolute;
        top: 1.1vw;
        width: 100%;
        left: 2.7vw;
        font-family: "Alatsi Regular"; 
        color: color($colors, chumbo);
        font-size: 2.5vw;
        text-align: center;
        //background-color: aquamarine;
      }
      .lbl-person-broker {
        //width: 40% !important;
      }
      .lbl-person-realestate {
       // width: 60% !important;
      }
      .lbl-person-owner {
        //width: 40% !important;
      }
      .lbl-visit {
       // width: 8vw !important;
       // left: 2vw;
       // text-align: center;
      }
      .lbl_time {
        position: absolute;
        top: 3.7vw;
        left: 2.7vw;
        width: 100%;
        font-family: "Alatsi Regular"; 
        color: color($colors, azul);
        font-size: 2vw;
        text-align: center;
      }
      .lbl_status {
        position: absolute;
        //display: none;
        top: 6vw;
        left: 2.7vw;
        width: 100%;
        font-family: "Alatsi Regular"; 
        color: color($colors, chumbo);
        font-size: 2.1vw;
        font-weight: bold;
        text-align: center;
      }
      .mapboxgl-popup {
        max-width: 200px;
        height: 110px;
      }
      .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Alatsi Regular';
      }
      .mapboxgl-ctrl-logo {
        display: none !important;
      }
       /*
  Remove SearchBar from MapBox
  */
  .mapboxgl-ctrl-top-right {
    display: none;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact {
    display: none;
}
.img-broker {
  position: absolute;
  top: 3.5vw;
  left: 4vw;
  width: 15vw;
  height: 15vw;
  background-image: url(./../../assets/imgs/mansao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7.5vw;
  z-index: 1000;
}
.bullet {
  position: absolute;
  bottom: 4.2vw;
  left: 22vw;
  width: 3vw;
  height: 3vw;
  background-color: green;
  border-radius: 1.5vw;
  z-index: 1000;
}
.name-broker {
  position: absolute;
  top: 3vw;
  left: 0;
  width: 74%;
  font-family: "Alatsi Regular"; 
  color: color($colors, chumbo);
  font-size: 2.8vw;
  text-align: center;
  line-height: 3vw;
}
.status-broker {
  position: absolute;
  bottom: 4vw;
  left: 20vw;
  width: 35%;
  font-family: "Alatsi Regular"; 
  color: green;
  font-size: 2.8vw;
  font-weight: bold;
  text-align: center;
  //line-height: 13px;
}
.v-line {
  position: absolute;
  top: 1.5vw;
  left: 57%;
  width: 2px;
  height: 85%;
  background-color: color($colors, azul);
  z-index: 1000;
}
.distance {
  position: absolute;
  top: 1.5vw;
  right: 0;
  width: 42%;
  font-family: "Alatsi Regular"; 
  color: color($colors, azul);
  font-size: 3.2vw;
  text-align: center;
  line-height: 3.5vw;
}
.contacts { 
  position: absolute;
  top: 9vw;
  left: 0;
  width: 74%;
  font-family: "Alatsi Regular"; 
  color: color($colors, chumbo);
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
}
      .info {
        position: fixed;
        width: 100%;
        bottom: 15px;
        height: 23vw;
        z-index: 1000;
      }
      .info-content {
        position: relative;
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        height: inherit;
        background-color: rgba(255, 255, 255, 0.76);
        border-radius: 5vw;
      }
      .wait {
        position: relative;
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        height: inherit;
        background-color: rgba(255, 255, 255, 0.76);
        border-radius: 5vw;
      }
      .txt-wait {
        position: relative;
        font-family: "Alatsi Regular"; 
        color: color($colors, chumbo);
        font-size: 3vw;
        font-weight: bold;
        top: 2vw;
        text-align: center;
      }
      .btn-back {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: color($colors, cinza);
        z-index: 1000;
    }
    #bt {
      position: absolute;
      bottom: 1.5vw;
      right: 1.5vw;
      display: block;
      background-color: color($colors, azul); 
      border-radius: 7px;
      border: 2px color($colors, azul) solid;
      font-family: "Alatsi Regular"; 
      font-weight: bold;
      height: 10vw;
      font-size: 4vw;
      text-decoration: none;
      color: color($colors, branco);
      width: 37%;
  }  
  #btc {
    position: absolute;
    bottom: 1.5vw;
    right: 1.5vw;
    background-color: color($colors, vermelho); 
    border-radius: 7px;
    border: 2px color($colors, vermelho) solid;
    font-family: "Alatsi Regular"; 
    font-weight: bold;
    height: 10vw;
    font-size: 4vw;
    text-decoration: none;
    color: color($colors, branco);
    width: 37%;
}  
#btc-wait {
  position: absolute;
  bottom: 1.5vw;
  left: calc(50% - 30%);
  background-color: color($colors, vermelho); 
  border-radius: 7px;
  border: 2px color($colors, vermelho) solid;
  font-family: "Alatsi Regular"; 
  font-weight: bold;
  font-size: 4vw;
  text-decoration: none;
  color: color($colors, branco);
  width: 60%;
  height: 8vw;
}  
}